<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>
  <vendor>Hamish McIntyre-Bhatty</vendor>
  <vendor_url>https://www.hamishmb.com/</vendor_url>
  <icon_name>wxfixboot</icon_name>

  <action id="org.hamishmb.WxFixBoot.mount">
    <description>WxFixBoot requires authentication to mount and unmount devices</description>
    <message>WxFixBoot requires authentication to mount devices.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/wxfixboot/Tools/helpers/runasroot_linux_mount.sh</annotate>
  </action>

  <action id="org.hamishmb.WxFixBoot.readfile">
    <description>WxFixBoot requires authentication to read system configuration</description>
    <message>WxFixBoot requires authentication to read system configuration.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/wxfixboot/Tools/helpers/runasroot_linux_read_file.sh</annotate>
  </action>

  <action id="org.hamishmb.WxFixBoot.writefile">
    <description>WxFixBoot requires authentication to write bootloader configuration</description>
    <message>WxFixBoot requires authentication to write bootloader configuration.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/wxfixboot/Tools/helpers/runasroot_linux_write_file.sh</annotate>
  </action>

  <action id="org.hamishmb.WxFixBoot.generic">
    <description>WxFixBoot requires authentication to perform privileged actions</description>
    <message>WxFixBoot requires authentication to perform privileged actions.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/wxfixboot/Tools/helpers/runasroot_linux.sh</annotate>
  </action>
</policyconfig>
